@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Righteous';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url(../src/assets/fonts/Righteous-Regular.ttf) format(ttf);
    }
}

/* Estas clases se agregaran dinamicamente mediante javascript */
.javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.java {
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.python {
    width: 0%;
    animation: 2s python forwards;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.php {
    width: 0%;
    animation: 2s php forwards;
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.trabajo {
    width: 0%;
    animation: 2s trabajo forwards;
}

@keyframes trabajo {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.autoaprendizaje {
    width: 0%;
    animation: 2s autoaprendizaje forwards;
}

@keyframes autoaprendizaje {
    0% {
        width: 0%;
    }

    100% {
        width: 94%;
    }
}
